* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: #2d3d3d;
  padding: 20px;
}

.header {
  background-image: url("img/mv.jpg");
  height: 400px;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

.wrapper {
  width: 840px;
  margin: 20px auto 50px;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #2d3d3d;
}