* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 50px auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.box {
  position: relative;
  width: 300px;
  float:left;
  padding: 170px 9px 10px;
  border: 1px solid #eee;
  margin-right: 30px;
}

.box:last-child {
  margin-right: 0;
}

.image {
  position: absolute;
  width: 280px;
  height: 150px;
  top: 10px;
  object-fit: cover;
  object-position: bottom;
}

.step {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: orange;
  color: #fff;
  padding: 3px;
  }